@import '../../node_modules/foundation-sites/scss/foundation';

$xy-grid: false;
@include foundation-everything(true);

.anc-container {
  display: flex;
  .anc-modules {
    flex-basis: 150px;
    .module {
      border: 1px solid #333;
      border-radius: 5px;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 80px;
      cursor: move;
      i {font-size: 30px;}
      p{
        margin: 0;
      }
    }
  }
}

.drop-target{
  border: 2px dashed #333333;
  width: 800px;
  display: block;
  height: 20px;
  &.active {
    border-color:red;
  }
}

.init {
  border: 2px dashed #333333;
  padding: 5px;
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    border-color: red;
  }
}

.block-handle{
  display: flex;
  justify-content: space-between;
  background-color: #00ACF2;
  color: white;
  cursor: move;
  .button{
    margin: 0;
    color: white;
  }
}