@import '../../node_modules/foundation-sites/scss/foundation';

$xy-grid: false;
@include foundation-everything(true);

.anc-container {
  display: flex;
  .anc-modules {
    flex-basis: 150px;
    .module {
      border: 1px solid #333;
      border-radius: 5px;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 80px;
      cursor: move;
      i {font-size: 30px;}
      p{
        margin: 0;
      }
    }
  }
}
